.idea
**/*.whl
*.egg-info
**/__pycache__
.DS_Store
venv

.vscode

rust/target
rust/Cargo.lock

site

.pytest_cache
.ruff_cache

python/build
python/dist

**/.ipynb_checkpoints

**/.hypothesis

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

## Javascript
*.node
**/node_modules
**/.DS_Store
node/dist
node/examples/**/package-lock.json
node/examples/**/dist
dist

## Rust
target

**/sccache.log

Cargo.lock
