[workspace]
members = [
    "rust/ffi/node",
    "rust/lancedb",
    "nodejs",
    "python",
    "java/core/lancedb-jni",
]
# Python package needs to be built by maturin.
exclude = ["python"]
resolver = "2"

[workspace.package]
edition = "2021"
authors = ["LanceDB Devs <dev@lancedb.com>"]
license = "Apache-2.0"
repository = "https://github.com/lancedb/lancedb"
description = "Serverless, low-latency vector database for AI applications"
keywords = ["lancedb", "lance", "database", "vector", "search"]
categories = ["database-implementations"]
rust-version = "1.78.0"

[workspace.dependencies]
lance = { "version" = "=0.23.2", "features" = [
    "dynamodb",
], git = "https://github.com/lancedb/lance.git", tag = "v0.23.2-beta.1" }
lance-io = { version = "=0.23.2", tag = "v0.23.2-beta.1", git = "https://github.com/lancedb/lance.git" }
lance-index = { version = "=0.23.2", tag = "v0.23.2-beta.1", git = "https://github.com/lancedb/lance.git" }
lance-linalg = { version = "=0.23.2", tag = "v0.23.2-beta.1", git = "https://github.com/lancedb/lance.git" }
lance-table = { version = "=0.23.2", tag = "v0.23.2-beta.1", git = "https://github.com/lancedb/lance.git" }
lance-testing = { version = "=0.23.2", tag = "v0.23.2-beta.1", git = "https://github.com/lancedb/lance.git" }
lance-datafusion = { version = "=0.23.2", tag = "v0.23.2-beta.1", git = "https://github.com/lancedb/lance.git" }
lance-encoding = { version = "=0.23.2", tag = "v0.23.2-beta.1", git = "https://github.com/lancedb/lance.git" }
# Note that this one does not include pyarrow
arrow = { version = "53.2", optional = false }
arrow-array = "53.2"
arrow-data = "53.2"
arrow-ipc = "53.2"
arrow-ord = "53.2"
arrow-schema = "53.2"
arrow-arith = "53.2"
arrow-cast = "53.2"
async-trait = "0"
chrono = "0.4.35"
datafusion = { version = "44.0", default-features = false }
datafusion-catalog = "44.0"
datafusion-common = { version = "44.0", default-features = false }
datafusion-execution = "44.0"
datafusion-expr = "44.0"
datafusion-physical-plan = "44.0"
env_logger = "0.11"
half = { "version" = "=2.4.1", default-features = false, features = [
    "num-traits",
] }
futures = "0"
log = "0.4"
moka = { version = "0.12", features = ["future"] }
object_store = "0.11.0"
pin-project = "1.0.7"
snafu = "0.8"
url = "2"
num-traits = "0.2"
rand = "0.8"
regex = "1.10"
lazy_static = "1"

# Workaround for: https://github.com/eira-fransham/crunchy/issues/13
crunchy = "=0.2.2"
