name: upload-wheel

description: "Upload wheels to Pypi"
inputs:
  os:
    required: true
    description: "ubuntu-22.04 or macos-13"
  repo:
    required: false
    description: "pypi or testpypi"
    default: "pypi"
  token:
    required: true
    description: "release token for the repo"

runs:
  using: "composite"
  steps:
    - name: Install dependencies
      shell: bash
      run: |
        python -m pip install --upgrade pip
        pip install twine
    - name: Publish wheel
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ inputs.token }}
      shell: bash
      run: twine upload --repository ${{ inputs.repo }} target/wheels/lancedb-*.whl
