:root {
    --md-primary-fg-color:        #625eff;
    /* --md-primary-fg-color--dark:  #4338ca; */
    --md-primary-fg-color--dark:  #8482ff;
    --md-text-font: "IBMPlexSans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --md-code-font: "IBMPlexMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@font-face {
    font-family: "IBMPlexSans";
    src: local("IBMPlexSans"), url("fonts/IBMPlexSans-Regular.woff2");
}
@font-face {
    font-family: "IBMPlexSans";
    src: local("IBMPlexSans-Italic"), url("fonts/IBMPlexSans-Italic.woff2");
    font-style: italic;
}
@font-face {
    font-family: "IBMPlexSans";
    src: local("IBMPlexSans-Bold"), url("fonts/IBMPlexSans-Bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "IBMPlexMono";
    src: local("IBM Plex Mono"), local("IBM-Plex-Mono"), local("IBMPlexMono"), local("IBM-Plex-Mono-Regular"), local("IBMPlexMono-Regular"), url("fonts/IBMPlexMono-Regular.woff2");
}
@font-face {
    font-family: "IBMPlexMono";
    src: local("IBM Plex Mono Italic"), local("IBM-Plex-Mono-Italic"), local("IBMPlexMono-Italic"), url("fonts/IBMPlexMono-Italic.woff2");
    font-style: italic;
}

.md-nav__item, .md-tabs__item {
    font-size: large;
}

/* Maximum space for text block */
.md-grid {
    max-width: 90%;
  }
