site_name: LanceDB
site_url: https://localhost:8000
repo_url: https://github.com/lancedb/lancedb
edit_uri: https://github.com/lancedb/lancedb/tree/main/docs/src
repo_name: lancedb/lancedb
docs_dir: src
watch:
  - src
  - ../python/python

theme:
  name: "material"
  logo: assets/logo.png
  favicon: assets/logo.png
  palette:
    # Palette toggle for light mode
    - scheme: lancedb
      primary: custom
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - content.code.copy
    - content.tabs.link
    - content.action.edit
    - content.tooltips
    - toc.follow
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - navigation.tracking
    - navigation.instant
    - content.footnote.tooltips
  icon:
    repo: fontawesome/brands/github
    annotation: material/arrow-right-circle

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          # Ensure the handler points to the real package root
          # so it reads local sources at python/python/lancedb
          paths: [../python/python]
          options:
            docstring_style: numpy
            heading_level: 3
            show_source: true
            show_symbol_type_in_heading: true
            show_signature_annotations: true
            show_root_heading: true
            members_order: source
            docstring_section_style: list
            signature_crossrefs: true
            separate_signature: true
          import:
            # for cross references
            - https://arrow.apache.org/docs/objects.inv
            - https://pandas.pydata.org/docs/objects.inv
            - https://docs.pydantic.dev/latest/objects.inv
  - render_swagger:
      allow_arbitrary_locations: true
#   - redirects:
#       redirect_maps:
#         # Redirect the home page and other top-level markdown files. This enables maximum SEO benefit
#         # other sub-pages are handled by the ingected js in overrides/partials/header.html
#         'index.md': 'https://lancedb.com/docs/'
#         'guides/tables.md': 'https://lancedb.com/docs/tables/'
#         'ann_indexes.md': 'https://lancedb.com/docs/indexing/'
#         'basic.md': 'https://lancedb.com/docs/quickstart/'
#         'faq.md': 'https://lancedb.com/docs/faq/'
#         'embeddings/understanding_embeddings.md': 'https://lancedb.com/docs/embedding/'
#         'integrations.md': 'https://lancedb.com/docs/integrations/'
#         'examples.md': 'https://lancedb.com/docs/tutorials/'
#         'concepts/vector_search.md': 'https://lancedb.com/docs/search/vector-search/'
#         'troubleshooting.md': 'https://lancedb.com/docs/troubleshooting/'
#         'guides/storage.md': 'https://lancedb.com/docs/storage/integrations'



markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: ..
      dedent_subsections: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - md_in_html
  - abbr
  - attr_list
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - markdown.extensions.toc:
      baselevel: 1
      permalink: ""

nav:
  - API reference:
      - Overview: index.md
      - Python: python/python.md
      - Javascript/TypeScript: js/globals.md
      - Rust: https://docs.rs/lancedb/latest/lancedb/index.html

extra_css:
  - styles/global.css
  - styles/extra.css

extra_javascript:
  - "extra_js/reo.js"

extra:
  analytics:
    provider: google
    property: G-B7NFM40W74
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/lancedb/lancedb
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/lancedb
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/lancedb
