site_name: LanceDB Documentation
repo_url: https://github.com/lancedb/lancedb
repo_name: lancedb/lancedb
docs_dir: src

theme:
  name: "material"
  features:
    - content.code.copy
  icon:
    repo: fontawesome/brands/github

plugins:
- search
- mkdocstrings:
    handlers:
      python:
        paths: [../python]
- mkdocs-jupyter

nav:
- Home: index.md
- Basics: basic.md
- Embeddings: embedding.md
- Indexing: ann_indexes.md
- Integrations: integrations.md
- Python API: python.md

markdown_extensions:
- pymdownx.highlight:
    anchor_linenums: true
    line_spans: __span
    pygments_lang_class: true
- pymdownx.inlinehilite
- pymdownx.snippets
- pymdownx.superfences