name: PyPI Publish

on:
  release:
    types: [ published ]

jobs:
  publish:
    runs-on: ubuntu-latest
    # Only runs on tags that matches the python-make-release action
    if: startsWith(github.ref, 'refs/tags/python-v')
    defaults:
      run:
        shell: bash
        working-directory: python
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: Build distribution
        run: |
          ls -la
          pip install wheel setuptools --upgrade
          python setup.py sdist bdist_wheel
      - name: Publish
        uses: pypa/gh-action-pypi-publish@v1.8.5
        with:
          password: ${{ secrets.LANCEDB_PYPI_API_TOKEN }}
          packages-dir: python/dist
